* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(181, 232, 252);
  height: 100vh;
  position: relative;
  .container {
    text-align: center;

    // .triangle {
    //   background-image: url("../img/Untitled-5.jpg");
    // }

    .img-box {
      // img {
      //   width: 400px;
      //   height: 400px;
      //   background: none;
      // }
      .shadow {
        height: 48%;
        width: 100%;
        background: #ffff0080;
        position: absolute;
        left: -50%;
        transform: translateX(50%);
        clip-path: polygon(50% -9%, 50% -9%, 100% 100%, 0% 100%);
        top: 473px;
      }
    }

    .btn-container {
      button {
        background-color: rgb(59, 57, 57);
        margin: 10px;
        padding: 10px 20px;
        width: 100px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 7px;
        &:first-child:hover {
          background-color: green;
        }
        &:last-child:hover {
          background-color: red;
        }
      }
      .btn-off {
      }
    }
  }
}
